<div id="<%= dom_id list %>">
  <p>
    <span class="font-semibold">Name:</span>
    <%= list.name %>
  </p>

  <p>
    <span class="font-semibold">Color:</span>
    <% if list.color.present? %>
      <span style="background-color: <%= list.color.hex_code %>; color: <%= contrast_color(list.color.hex_code) %>;">
        <%= list.color.hex_code %>
      </span>
    <% else %>
      none
    <% end %>
  </p>
</div>
