<div id="<%= dom_id color %>">
  <p>
    <span class="font-semibold">Name:</span>
    <%= color.name %>
  </p>

  <p>
    <span class="font-semibold">Hex code:</span>
    <span style="background-color: <%= color.hex_code %>; color: <%= contrast_color(color.hex_code) %>;">
      <%= color.hex_code %>
    </span>
  </p>
</div>
