<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.label :expiration, style: "display: block" %>
    <%= form.date_field :expiration %>
  </div>

  <div>
    <%= form.label :notification_ids, style: "display: block" %>
    <%= form.select :notification_ids, current_user.notifications.map { 
        |notification| ["#{pluralize(notification.days_before_expiration, "day")} before#{notification.by_email ? " (email)" : ""}", notification.id] 
      }, { include_hidden: false, multiple: true } %>
  </div>

  <div>
    <%= form.label :list_id, style: "display: block" %>
    <%= form.select :list_id, current_user.lists.map { |list| ["#{list.name} (#{list.color&.hex_code})" , list.id] } %>
  </div>

  <div>
    <%= form.label :product_id, style: "display: block" %>
    <%= form.select :product_id, current_user.products.map { |product| ["#{product.name}" , product.id] } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
