<div id="<%= dom_id item %>">
  <p>
    <span class="font-semibold">Product:</span>
    <%= item.product.name %>
  </p>

  <p>
    <span class="font-semibold">Quantity:</span>
    <%= item.quantity %>
  </p>

  <p>
    <span class="font-semibold">Expiration:</span>
    <%= item.expiration&.to_date || "never" %>
  </p>

  <p>
    <span class="font-semibold">Expired:</span>
    <%= item.expired? %>
  </p>

  <p>
    <span class="font-semibold">List:</span>
    <%= item.list.name %><% if item.list.color.present? %> (<span style="background-color: <%= item.list.color.hex_code %>; color: <%= contrast_color(item.list.color.hex_code) %>;"><%= item.list.color.hex_code %></span>)<% end %>
  </p>

  <p>
    <span class="font-semibold">Notifications:</span>
    <% if item.notification.empty? %>
      none
    <% else %>
      <% item.notification&.sort_by(&:days_before_expiration).each do |notification| %>
        <li>
          <%= notification.days_before_expiration %> days before (<%= item.expiration&.to_date - notification.days_before_expiration.days %>)
        </li>
      <% end %>
    <% end %>
  </p>
</div>
