<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :barcode, style: "display: block" %>
    <%= form.text_field :barcode %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <% if product.image.attached? %>
      <%= image_tag product.image.representation(resize_to_fill: [50, 50]) %>
      <%= product.image.filename %>
      <p>
        Uploading a new image will replace the existing one.
      </p>
    <% else %>
      <p>
        No image
      </p>
    <% end %>
    <%= form.file_field :image, accept: "image/png,image/jpg,image/jpeg" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
