<div id="<%= dom_id product %>">
  <p>
    <span class="font-semibold">Name:</span>
    <%= product.name %>
  </p>

  <p>
    <span class="font-semibold">Barcode:</span>
    <%= product.barcode %>
  </p>

  <p>
    <span class="font-semibold">Image:</span>
    <% if product.image.attached? %>
      <%= product.image.filename %>
      <%= link_to rails_blob_path(product.image, disposition: "inline"), target: "_blank" do %>
        <%= image_tag product.image.representation(resize_to_fill: [300, 300]) %>
      <% end %>
    <% else %>
      No image
    <% end %>
  </p>
</div>
