<nav class="bg-primary-500">
  <ul class="flex flex-row h-12 text-white">
    <% if user_signed_in? %>
      <li class="pl-4 mr-auto flex flex-row min-w-12">
        <%= link_to dashboard_path, title: "Dashboard" do %>
          <%= image_tag "stocked_shelves_icon_upscale_no_bg.png", alt: "StockedShelves logo", size: 48 %>
        <% end %>
      </li>
      <li class="flex flex-row items-center hover:bg-primary-600 transition-colors">
        <%= link_to "Items", items_path, class: "hover:underline hover:underline-offset-2 px-4" %>
      </li>
      <li class="flex flex-row items-center hover:bg-primary-600 transition-colors">
        <%= link_to "Products", products_path, class: "hover:underline hover:underline-offset-2 px-4 border-x border-x-primary-300 border-collapse" %>
      </li>
      <li class="flex flex-row items-center hover:bg-primary-600 transition-colors">
        <%= link_to "Lists", lists_path, class: "hover:underline hover:underline-offset-2 px-4" %>
      </li>
      <li class="flex flex-row items-center hover:bg-primary-600 transition-colors">
        <%= link_to "Colors", colors_path, class: "hover:underline hover:underline-offset-2 px-4 border-x border-x-primary-300 border-collapse" %>
      </li>
      <li class="flex flex-row items-center hover:bg-primary-600 transition-colors">
        <%= link_to "Notifications", notifications_path, class: "hover:underline hover:underline-offset-2 px-4" %>
      </li>
      <li class="ml-auto flex items-center hover:bg-primary-600 transition-colors">
        <%= link_to edit_user_registration_path, class: "flex flex-row gap-1 hover:underline hover:underline-offset-2 px-4 border-r border-r-primary-300 border-collapse" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
          </svg>
          <%= current_user.username %>
        <% end %>
      </li>
      <li class="flex flex-row items-center hover:bg-primary-600 transition-colors">
        <%= link_to "Log out", destroy_user_session_path, class: "hover:underline hover:underline-offset-2 px-4", data: {
          turbo_method: :delete
        } %>
      </li>
    <% else %>
      <li class="pl-4 mr-auto flex flex-row min-w-12">
        <%= link_to root_path, title: "Home" do %>
          <%= image_tag "stocked_shelves_icon_upscale_no_bg.png", alt: "StockedShelves logo", size: 48 %>
        <% end %>
      </li>
      <li class="flex flex-row items-center hover:bg-primary-600 transition-colors">
        <%= link_to "Log in", new_user_session_path, class: "hover:underline hover:underline-offset-2 px-4" %>
      </li>
      <li class="flex flex-row items-center hover:bg-primary-600 transition-colors">
        <%= link_to "Sign up", new_user_registration_path, class: "hover:underline hover:underline-offset-2 px-4" %>
      </li>
    <% end %>
  </ul>
</nav>