<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "username" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email", placeholder: "username@example.com" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "********" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "********" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "********" %>
  </div>

  <div class="field">
    <%= f.label :notify_through_email %><br />
    <%= f.check_box :notify_through_email %>
  </div>

  <div class="controls mt-2">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<h2 class="mt-4">Cancel my account</h2>

<div class="flex flex-col gap-1 items-center">
  Unhappy? 
  <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-danger block",
    data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
</div>

<div class="controls mt-6">
  <%= link_to "Back", :back, class: "btn btn-secondary" %>
</div>
